<!DOCTYPE HTML>
<html>
<head>
  <meta charset="utf-8">
  <title>{{pageTitle}} Page</title>
</head>

<body>
    {{> header}}

  <h4>This contains all the information.</h4>
{{> footer}}
</body>
</html>
